.swiper
  width: 75%
  padding-top: 10rem
  padding-bottom: 10rem

  &-slide
    background-position: center
    background-size: cover
    width: 40rem
    height: 30rem

    & img
      display: block
      width: 100%
