.swiper
    width: 75%
    padding-top: 50px
    padding-bottom: 50px

    &-slide
        background-position: center
        background-size: cover
        width: 300px
        height: 300px

    &-slide img
        display: block
        width: 100%
